/* D3 style*/
svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: #4682b4;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    fill: none;
    stroke: #606060;
    shape-rendering: crispEdges;
}

.axis text {
    cursor: move;
    fill: #fff;
}

.axis--x path {
    display: none;
}

.line {
    fill: none;
    stroke: #333;
    stroke-width: 1.5px;
}