.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
}

.node text {
  font: 10px sans-serif;
  fill:#fff;
}

.link {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5x;
}