{% extends "layout.html" %}

{% block title %}
    Branches
{% endblock %}

{% block main %}

    <svg id="svg1"></svg>
    <div class="cover-container">
        <p>A building is a complex machine that has many systems and ever changing loads based on usage. As such it is critical to break down each critical portion of the spatial functions to analyze each field. These fields whether they are energy-related or non-energy-related are environmental considerations that include daylight, natural ventilation, water, air quality, noise, construction materials, HVAC, and other systems/technology.</p>
        <p class="lead">
            <a href="/daylight" class="btn btn-lg btn-secondary">Next</a>
        </p>
    </div>

    <!-- D3 library -->
    <script src="//d3js.org/d3.v3.min.js"></script>

    <!-- local D3 script -->
    <script src="/static/js/tree.js"></script>
    <link href="/static/css/d3_tree.css" rel="stylesheet"/>

{% endblock %}
