{% extends "layout.html" %}

{% block title %}
    Building
{% endblock %}

{% block main %}
    <div class="cover-container">
        <img src="static/img/SolarRadiation_South_Annual.png" height="200" width="200">
        <p class="lead"></p>
        <h1 class="cover-heading">Tall.</h1>
        <p class="lead">The project is a 10-story residential tower that will house approximately 380 occupants. It is located in a new planned mixed-use development to be located to the northwest of central Shenzhen, China.</p>
        <p class="lead">
            <a href="/climate" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </div>
{% endblock %}
