{% extends "layout.html" %}

{% block title %}
    Climate
{% endblock %}

{% block main %}

    <svg id="svg1" width="960" height="500"></svg>
    </svg>

    <div class="cover-container">
        <p class="lead"></p>
        <h1 class="cover-heading">Hot.</h1>
        <p class="lead">To understand a buildings’ operational impact, environmental data is crucial. With the world having various climate zones, it is important to put these designs in context. As this building is situated in Shenzhen, it is critical to know the temperature trends of this region.</p>
        <p class="lead">
            <a href="/branches" class="btn btn-lg btn-secondary">Next</a>
        </p>
    </div>

    <!-- D3 library -->
    <script src="//d3js.org/d3.v4.min.js"></script>

    <!-- local D3 script -->
    <script src="/static/js/linechart.js"></script>



{% endblock %}
