{% extends "layout.html" %}

{% block title %}
    Solar
{% endblock %}

{% block main %}
    <div class="cover-container">
        <img src="static/img/Sep.png" height="300" width="300">
        <img src="static/img/march.png" height="300" width="300">
        <img src="static/img/June.png" height="300" width="300">
        <img src="static/img/dec.png" height="300" width="300">
        <p class="lead">
        <p>Daylight is an often overlooked category. In hot and humid climate zones, too much daylight may increase HVAC cooling loads, while too little daylight can easily compromise spatial quality. Studying the shifting of the Sun throughout the days and seasons allow for more control and understanding of a buildings more desirable orientation.</p>
        <p class="lead">
            <a href="/energy" class="btn btn-lg btn-secondary">Next</a>
        </p>
    </div>
{% endblock %}
