{% extends "layout.html" %}

{% block title %}
    Download
{% endblock %}

{% block main %}
    <div class="cover-container">
        <h1 class="cover-heading">Download the data.</h1>
        <p class="lead">To understand the relative impacts of different technologies and operational variables, download your dataset.
        <div class="form-container">
            <form action="/download" method="post">
                <button class="btn btn-outline-secondary" type="submit">Download</button>
            </form>
        </div>
    </div>
{% endblock %}
