{% extends "layout.html" %}

{% block title %}
    Energy
{% endblock %}

{% block main %}
    <svg id="svg2"></svg>
        <div class="cover-container">
        <p class="lead"></p>
        <h1 class="cover-heading">Net Zero.</h1>
        <p class="lead">Net zero is the end goal of Building Energy Simulations. Not only is the goal to reduce energy expended during construction of the building and the manufacturing of materials, it is also to put the building in a position where during operation hours to not burden the environment and to certain extent sustainable.
</p>
        <p class="lead">
        </p>
    </div>
    <!-- D3 library -->
    <script src="//d3js.org/d3.v3.min.js"></script>

    <!-- local D3 script -->
    <script src="/static/js/pcoordinates.js"></script>


{% endblock %}
