{% extends "layout.html" %}

{% block title %}
    Energy
{% endblock %}

{% block main %}
    <svg id="svg2"></svg>
        <div class="cover-container">
        <p class="lead"></p>
        <h1 class="cover-heading">Zero.</h1>
        <p class="lead">Building energy simulation (BES) is the use of a physics-based software to predict the energy use of a building. We simulated the building as-designed to estimate its annual energy consumption. The results of these “base case” are shown here.</p>
        <p class="lead">
        </p>
    </div>
    <!-- D3 library -->
    <script src="//d3js.org/d3.v3.min.js"></script>

    <!-- local D3 script -->
    <script src="/static/js/pcoordinates.js"></script>


{% endblock %}
