{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="cover-container">
        <img src="static/img/SolarRadiation_South_Annual.png" height="200" width="200">
        <p class="lead"></p>
        <h1 class="cover-heading">Hot Hot Zero.</h1>
        <p class="lead">The aim of this report was to examine the opportunities for building a net-zero-energy residential high-rise building in a hot and humid climate, using a case study project. The project is a 10-story residential tower that will house approximately 380 occupants. It is located in a new planned mixed-use development to be located to the northwest of central Shenzhen, China.</p>
        <p class="lead">
            <a href="/" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </div>
{% endblock %}
