{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="cover-container">
        <h1 class="cover-heading">Energy simulation.</h1>
        <p class="lead">The use of a physics-based software to predict the energy use of a building.There hundreds of software tools available for simulating the energy performance of buildings and building subsystems.</p>
        <p class="lead">The Building Energy Software Tools (BEST) database lists over many of these programs, which range in capability from whole-building energy simulations to model input calibration to building energy auditing.</p>
        <p class="lead">
            <a href="/" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </div>
{% endblock %}
