{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ total_total }}</td>
        </tfoot>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.shares }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.total }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>

    </form>

    <svg id="svg1" width="960" height="500"></svg>
    </svg>

    <!-- D3 library -->
    <script src="//d3js.org/d3.v4.min.js"></script>

    <!-- local D3 script -->
    <script src="/static/linechart.js"></script>



{% endblock %}
