{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="cover-container">
        <img src="static/img/SolarRadiation_South_Annual.png" height="200" width="200">
        <p class="lead"></p>
        <h2 style="font-style:italic;">tall hot zero</h2>
        <p class="lead">This project is based on the information and data gathered from energy simulation of buildings’ performance. It has become increasingly important for buildings to be as efficient and as environmentally friendly as they can be. Here, a case study of a typical tall-hot-zero building is analyzed in various fields and metrics to help designers visualize the impact of their design choices.</p>
        <p class="lead">
            <a href="/climate" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </div>
{% endblock %}
