<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/cover.css" rel="stylesheet"/>
        <link href="/static/d3.css" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <title>BES Database: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">
                                <a class="nav-link" href="/">Besdata</a>
                            </h3>
                            <nav class="nav nav-masthead">
                               {% if session.user_id %}
                                    <a class="nav-link active" href="/home">Home</a>
                                    <a class="nav-link" href="/explore">Explore</a>
                                    <a class="nav-link" href="/submit">Submit</a>
                                    <a class="nav-link" href="/download">Download</a>
                                    <a class="nav-link" href="/logout">Log Out</a>
                               {% else %}
                                    <a class="nav-link active" href="/home">Home</a>
                                    <a class="nav-link" href="/register">Register</a>
                                    <a class="nav-link" href="/login">Log In</a>
                               {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>

                <main class="container p-5">
                    {% block main %}{% endblock %}
                </main>

                <div class="cover-container">
                    <div class="mastfoot">
                        <div class="inner">
                            <p>© By Tai-Hsin Hsu and Ching-Che Huang<a class="nav-link" href="https://github.com/taihsinhsu/wbesdb.git">Github</a></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </body>

</html>
