<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/css/cover.css" rel="stylesheet"/>
        <link href="/static/css/d3_pcoordinates.css" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <title>BES Database: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">BESdata</h3>
                            <nav class="nav nav-masthead">
                                    <a class="nav-link" href="/">Building</a>
                                    <a class="nav-link" href="/climate">Climate</a>
                                    <a class="nav-link" href="/branches">Branches</a>
                                    <a class="nav-link" href="/solar">Solar</a>
                                    <a class="nav-link" href="/energy">Energy</a>
                            </nav>
                        </div>
                    </div>
                </div>

                <main class="container p-1">
                    {% block main %}{% endblock %}
                </main>

                <div class="cover-container">
                    <div class="mastfoot">
                        <div class="inner">
                            <p>By Tai-Hsin Hsu and Ching-Che Huang © <a href="https://github.com/taihsinhsu/wbesdb.git">GitHub</a></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </body>

</html>
