{% extends "layout.html" %}

{% block title %}
    Solar
{% endblock %}

{% block main %}
    <div class="cover-container">
        <img src="static/img/Sep.png" height="300" width="300">
        <img src="static/img/march.png" height="300" width="300">
        <img src="static/img/June.png" height="300" width="300">
        <img src="static/img/dec.png" height="300" width="300">
        <p>We used simulation to analyze the daylight conditions of the building.  In the as-designed baseline building, the middle units’ cores, where most social and working spaces are located, have very low levels of daylight.</p>
        <p class="lead">
            <a href="/energy" class="btn btn-lg btn-secondary">Next</a>
        </p>
    </div>

    </div>
{% endblock %}
