{% extends "layout.html" %}

{% block title %}
    Solar
{% endblock %}

{% block main %}
    <div class="cover-container">
        <img src="static/img/DirectDaylightHours_South_1221.png" height="400" width="400">
        <img src="static/img/Sep.png" height="400" width="400">
        <img src="static/img/march.png" height="400" width="400">
        <img src="static/img/June.png" height="400" width="400">
        <img src="static/img/dec.png" height="400" width="400">
    </div>
{% endblock %}
