{% extends "layout.html" %}

{% block title %}
    Submit
{% endblock %}

{% block main %}
    <div class="cover-container">
        <h1 class="cover-heading">Submit your data.</h1>
        <p class="lead">The Besdata Building Simulation Database (BSD) aspires to build the type of large, aggregate dataset required to analyze drivers of building performance in specific real estate sectors and local markets, and understand the relative impacts of different technologies and operational variables.
        <div class="form-container">
            <form action="/submit" method="post">
                <div class="form-group" style="text-align:left">
                    <lable class="col-form-label-sm">Shading</lable>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" max="180" name="orientation" placeholder="building orientation (°)" type="number"/>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" max="100" name="WWR" placeholder="window wall ratio (%)" type="number"/>
                </div>
                <div class="form-group" style="text-align:left">
                    <lable class="col-form-label-sm">Shading</lable>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="NS-h-shading" placeholder="NS horizontal shading (m)" type="number"/>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="WE-h-shading" placeholder="WE horizontal shading (m)" type="number"/>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="WE-v-shading" placeholder="WE verical shading (m)" type="number"/>
                </div>
                <div class="form-group" style="text-align:left">
                    <lable class="col-form-label-sm">Material</lable
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="wall-u" placeholder="wall: u-value (m2K/W)" type="number"/>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="glass-u" placeholder="glass: u-value (m2K/W)" type="number"/>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="glass-shgc" placeholder="glass: SHGC" type="number"/>
                </div>
                <div class="form-group" style="text-align:left">
                    <lable class="col-form-label-sm">Eenergy Use Intensity</lable>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="cooling" placeholder="cooling (Wh/m2)" type="number"/>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="heating" placeholder="heating (Wh/m2)" type="number"/>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="lighting" placeholder="lighting (Wh/m2)" type="number"/>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="DHW" placeholder="DHW (Wh/m2)" type="number"/>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="plugload" placeholder="plugload (Wh/m2)" type="number"/>
                    <input class="form-control form-control-sm" autocomplete="off" autofocus class="form-control" min="0" name="total" placeholder="total (Wh/m2)" type="number"/>
                </div>
                <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
